streamlit
beautifulsoup4
requests
PyPDF2
pdf2image
pytesseract
layoutparser[layoutmodels]  # This includes compatible Detectron2
Pillow
opencv-python-headless
-f https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch1.9/index.html
detectron2


