python==3.10.*
streamlit
beautifulsoup4
requests
PyPDF2
pdf2image
pytesseract
layoutparser
torch==1.10.0
torchvision==0.11.0
--find-links https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch1.10/index.html
detectron2 -f https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch1.10/index.html
Pillow
