streamlit
beautifulsoup4
requests
PyPDF2
pdf2image
pytesseract
layoutparser
torch
torchvision
torchaudio
Pillow
detectron2 -f https://dl.fbaipublicfiles.com/detectron2/wheels/cu121/torch2.1/index.html
